**1Q**
**Explain the properties of list and tuple in the markdown cell.**

**LIST**-
*"it is enclosed by "[]"".
* it can accept different data types.
* it is mutable property.
*it can access by index-ordered data.
* allow duplicate.


  **TUPLE-**
"it is enclosed by"()".
* it can also different data types.
*it is immutable property.
*it allow duplicates.
*it can access by indexing-ordered data.

**2Q**
**Create a list containing the numbers 1 to 5.**

In [ ]:
list=[1,2,3,4,5]

**3Q** **Access the third element of the list [10, 20, 30, 40, 50]**

In [ ]:
list=[10,20,30,40,50]
print( "third element is",list[2])

third element is 30

**4Q** **Change the second element of the list [1, 2, 3, 4, 5] to 10.**

In [ ]:
list=[1,2,3,4,5]
list[1]=10
print(list[1])

10

  **5q**  **Add the element 6 to the end of the list [1, 2, 3, 4, 5].**

In [ ]:
a=[1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

**6**  **Concatenate the lists [1, 2, 3] and [4, 5, 6].**

In [ ]:
a=[1,2,3]
b=[4,5,6]
print(a + b)

[1, 2, 3, 4, 5, 6]

**7**  **Create a tuple containing the strings "apple", "banana", and "cherry".**

In [ ]:
tuple=("apple","banana","cherry")

**8** **Access the first element of the tuple ("apple", "banana", "cherry").**

In [ ]:
tuple=("apple","banana","cherry")
print(tuple[0])

apple

**9** **Check if the number 4 is in the list [1, 2, 3, 4, 5].**

In [ ]:
a=[1,2,3,4,5]
a.index(4)

3

**10**  **Find the length of the list [10, 20, 30, 40, 50].**

In [ ]:
list=[10,20,30,40,50]
print(len(list))

5

**11**  **Slice the list [10, 20, 30, 40, 50] to get the sublist [20, 30, 40].**

In [ ]:
list=[10,20,30,40,50]
print(list[1:4])

[20, 30, 40]

 **12**  **Unpack the tuple (10, 20, 30) into three variables.**

In [ ]:
tuple=(10,20,30)
print(tuple[0])
print(tuple[1])
print(tuple[2])

10
20
30

**13**  **Count the number of times the element 2 appears in the list [1, 2, 2, 3, 4, 2, 5].**

In [ ]:
my_list=[1,2,2,3,4,2,5]
print(my_list.count(2))

3

**14**  **Find the maximum element in the list [1, 2, 3, 4, 5].**

In [ ]:
list=[1,2,3,4,5]
max(list)

5

**15** **Convert the list [1, 2, 3, 4, 5] to a tuple.**

In [ ]:
 my_list=[1,2,3,4,5]
 print(type(my_list))
 tuple1=list[0],list[1],list[2],list[3],list[4]
 print(tuple1)
 print(type(tuple1))

<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

**16** Extend the list [1, 2, 3] with elements from the list [4, 5, 6].

In [ ]:
list1=[1,2,3]
list1.extend([4,5,6])
print(list1)

[1, 2, 3, 4, 5, 6]

**17** **Reverse the list [1, 2, 3, 4, 5].**

In [ ]:
list1=[1,2,3,4,5]
list1.reverse()
print(list1)

[5, 4, 3, 2, 1]

  **18** Access the element 3 in the nested list [[1, 2], [3, 4], [5, 6]].

In [ ]:
list=[[1,2],[3,4],[5,6]]

a=(list[1][0])
print(a)

3

 **19** **Remove the element 4 from the list [1, 2, 3, 4, 5].**

In [ ]:
list=[1,2,3,4,5]
list.remove(4)
print(list)

[1, 2, 3, 5]

**20**  **Convert the tuple (1, 2, 3, 4, 5) to a list.**

In [ ]:
tuple=(1,2,3,4,5)
print(tuple)
my_list=[tuple[0],tuple[1],tuple[2],tuple[3],tuple[4]]

print(my_list)
print(type(my_list))

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
<class 'list'>

 **21** **Find the index of the element 3 in the list [1, 2, 3, 4, 5].

In [ ]:
list=[1,2,3,4,5]
print(list.index(3))

2

**22**   **Explain why the following operation fails: t = (1, 2, 3); t[0] = 0.**

In [ ]:
t=(1,2,3)
t[0]=0 #tuples are immutable,we can not change or never update the values
print(t)

TypeError: 'tuple' object does not support item assignment

**23** **You have a list of your favorite Marvel superheroes.
heroes=['spider man','thor','hulk','iron man','captain america']  Using this list,
find Length of the list
Add 'black panther' at the end of this list.
You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'.
Now you don't like thor and hulk because they get angry easily ðŸ™‚. So you want to remove thor and hulk from the list and replace them with Doctor Strange (because he is cool).Do that with one line of code.
Sort the list in alphabetical order.**

In [ ]:
heros=["spider man","thor","hulk","iron man","capitan america"]
print(len(heros))
heros.append("black panther")
print(heros)
heros.pop(5)
print(heros)
heros.insert(3,"black panther")
print(heros)
heros.pop(1)
print(heros)
heros.pop(1)
print(heros)
heros.append("doctor strange")
print(heros)
heros.sort(reverse=False)
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'capitan america', 'black panther']
['spider man', 'thor', 'hulk', 'iron man', 'capitan america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'capitan america']
['spider man', 'hulk', 'black panther', 'iron man', 'capitan america']
['spider man', 'black panther', 'iron man', 'capitan america']
['spider man', 'black panther', 'iron man', 'capitan america', 'doctor strange']
['black panther', 'capitan america', 'doctor strange', 'iron man', 'spider man']

**24**
** Write a program to add item 7000 after 6000 in the following Python List:
	list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]**

In [ ]:
list=[10,20,[300,400,[5000,6000],500],30,40]
list1=list[2][2]
list1.insert(2,7000)
print(list)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
lst = [1,2,3,4,5]
for i in lst:
  lst.remove(i)

In [ ]:
lst

[2, 4]

In [ ]:
s = "rwnewjd"