## TASK 11

**1** **Write a function square(x) that returns the square of the number x.**

In [202]:
def square(x):
    square=x**2
    return square
square(2)

64

**2**  **Write a function to_uppercase(s) that converts all characters in a string s to uppercase**

In [204]:
def to_uppercase(s):
     s1= s.upper()
     return s1
to_uppercase("welcome")

'WELCOME'

**3**  **Write a function find_max(a, b) that returns the maximum of two numbers a and b**

In [206]:
def find_max(a,b):
    if a>b:
        print(a,"max")
    else: 
        print(b,"max")
          
find_max(78,90)

90 max

**4**  **Write a function count_vowels(s) that returns the number of vowels (a, e, i, o, u) in a string s.**

In [252]:
def count_vowels(s):
   count_a =0
   count_e=0
   count_i=0
   count_o=0
   count_u=0
   for i in s:
       if i=="a":
          count_a=count_a+1
       elif i=="e":
          count_e=count_e+1
       elif i=="i":
          count_i=count_i+1
       elif i=="o":
          count_o=count_o+1
       elif i=="u":
          count_u=count_u+1 
   res= count_a+count_e+count_i+count_o+count_u
   return res    
count_vowels("ariiiiioooouuuudnq")

14

**5**  **Write a function concat_strings(s1, s2) that returns the concatenation of two strings s1 and s2.**

In [259]:
def concat_strings(s1,s2):
     res=s1+s2
     return res
concat_strings("yettina","shravani")

'yettinashravani'

**6**  **Write a function remove_duplicates(lst) that takes a list lst and returns a new list with duplicate elements removed.**

In [280]:
def remove_duplicates(lst):
    lst=set(lst)
    r=set()
    res=lst|r
    result=list(res)
    return result   
remove_duplicates([4,7,8,9,9,0,8,])

[0, 4, 7, 8, 9]

**7**  **Write a function char_frequency(s) that returns a dictionary where the keys are characters in the string s and the values are the number of times each character appears.**

In [309]:

def char_frequency(s):
    from collections import Counter
    s1=Counter(s)
    return s1
char_frequency("jhdddjwdh")

Counter({'d': 4, 'j': 2, 'h': 2, 'w': 1})

**8** **Write a function sum_even_numbers(lst) that returns the sum of all even numbers in a list lst.**

In [340]:
def sum_even_numbers(lst):
    sum=0
    for i in lst:
        if i%2==0:
            sum=sum+i 
    return sum
            
sum_even_numbers([2,3,4,6,8,9])

20