1.create different variables to store your name,your age,and your parents name.
a.print your name
b.create more variables needed for bio data
c.now print your whole biodata using variables.

In [ ]:
name="shravani"
age=21
father="gangadhar"
mother="gangamutthu"
education="B.Tech(ece)"
city="nizamabad"
print("hi i am ",name)
print("from ",city)
print("and my age is ",age)
print("my father name",father)
print("my mother name",mother)
print("my educational background is",education)

hi i am  shravani
from  nizamabad
and my age is  21
my father name gangadhar
my mother name gangamutthu
my educational background is B.Tech(ece)

2.create two varibles.one to store your first nameand another to store your surname.now,print your name so that the surname prints first.

In [ ]:
name=input("enter your name :")
surname=input("enter your surname :")
print("surname is",surname)
print("name is",name)

enter your name : shravani
enter your surname :yettina
surname is yettina
name is  shravani

3.write rules on how to create a variable in markdown cell using text formatting.

some rules to create variables
*when the varible is created,we should convert to markdown by pressing the key **esc+m**.
* to run we press the **shift+enter**
*to add above the variable cell we use the key **esc+a**
*to add  below the cell we use **esc+b**.
*to delete we press the key as **esc+double d**

**bold text**

4.create a variable called break and assign it a value 16.see what happens ,and find out the reason behind the behaviour that you see.

In [ ]:
break=16
print("break is",break)

SyntaxError: invalid syntax (<ipython-input-6-4c1138cd6641>, line 1)

Because it is a built in keyword. Built in keywords
 have different colours.we can not store the varible in keywords.

5.a.assign the values 1,2and 3 to the variables x,y,and z,respectively,in a single line.
b.print values of x,y,and z.

In [ ]:
x,y,z=1,2,3
print(x,y,z)

1 2 3