**1** **What is a set in Python? How is it different from other data structures like lists or tuples? Explain with examples.**

sets  are used to store the multiple elements.
it is stored in form of "{}"


**difference**

 *sets and tuples  are immutable but list are mutable
 * sets  and tuples does not allow duplicates but list allow duplicates
 * set,list,tuple allow different data types
 *sets are unordered but list and tuples are ordered

In [ ]:
##example....it does not allow duplicates
a={1,2,3,3,}
print(a)
#.....different data types
b={1,2,"kkkk",7.0,True}
print(b)
c={1,2,3,6}

{1, 2, 3}
{1, 2, 7.0, 'kkkk'}

2

In [ ]:
###...>>>sets are unordered
a={1,2,5,8}
a[1]

TypeError: 'set' object is not subscriptable

In [ ]:
##sets are immutable
a={1,2,4}
a[1]=5
print(a)

TypeError: 'set' object does not support item assignment

**2Q** **What is the difference between set.pop() and list.pop()? Explain with examples.**

**set.pop()**
  *set.pop() removes the element from the set.

**list.pop()**
   *list.pop() removes the last element from the list.

In [ ]:
##set.pop{}
a={1,2,5,7,8}##removes the any element from the set
a.pop()

1

In [ ]:
#list.pop()
a=[1,2,5,7,8]###removes the last element from the list
a.pop()

8

**3**Given the set S = {1, 2, 3, 4, 5, 76, 32, 65}, apply all built-in set functions to this example.**

In [ ]:
#add(_)
s={1,2,3,4,5,76,32,65}
s.add(20)
print(s)

{32, 1, 2, 3, 4, 5, 65, 76, 20}

In [ ]:
#copy()
s.copy()
print(s)

{32, 1, 2, 3, 4, 5, 65, 76, 20}

In [ ]:
#clear()
s={1,2,3,4,5,76,32,65}
s.clear()
print(s)

set()

In [ ]:
#discard()
s={1,2,3,4,5,76,32,65}
s.discard(5)
print(s)

{32, 1, 2, 3, 4, 65, 76}

In [ ]:
#pop()
s={1,2,3,4,5,76,32,65}
s.pop()

32

In [ ]:
#remove()
s={1,2,3,4,5,76,32,65}
s.remove(4)
print(s)

{32, 1, 2, 3, 5, 65, 76}

In [ ]:
#delete()
s={1,2,3,4,5,76,32,65}
del (s)

In [ ]:
#difference>>>A-B   and  B-A
a={1,23,56,89,67,5}
b={3,6,7,8,9,90,5}
#A-B or difference
#B-A OR DIFFERENCE
a.difference(b)

{1, 23, 56, 67, 89}

In [ ]:
#difference_update
a={1,23,56,89,67,5}
b={3,6,7,8,9,90,5}
a.difference_update(b)
print(a)

{1, 67, 23, 56, 89}

In [ ]:
##intersection
set1={2,4,6}
set2={2,5,6,7}
print(set1.intersection(set2))##common values returns,, but dont update
print(set2.intersection(set1))

{2, 6}
{2, 6}

In [ ]:
#intersection_update()
set1={2,4,6,8,9}
set2={2,5,6,7}
print(set1.intersection_update(set2))##common values returns,update
print(set2.intersection_update(set1))
print(set1)##update the values if we print the set1
print(set2)

None
None
{2, 6}
{2, 6}

In [ ]:
#isdisjoint()
a={1,3,5,7,8}
b={4,6,7,8}
a.isdisjoint(b)

False

In [ ]:
##subset()
a={1,2,3,4,5,6,7}
b={1,2,3,3,4,5}
b.issubset(a)

True

**4** **Update the first set with items that don't exist in the second set.
s1={150,200,400}
s2={200,750,650}
Expected output: s1={150,400}**

In [ ]:
s1={150,200,400}
s2={200,750,650}
s1.difference_update(s2)
print(s1)

{400, 150}

**5** Define a set S = {apple, banana, cherry, orange}. Use Python set methods to add a new fruit 'grape' to S, remove 'banana' from S, and check the length of S.

In [ ]:
S = {"apple","banana", "cherry", "orange"}
S.add('grape')
print(S)

{'orange', 'cherry', 'grape', 'apple', 'banana'}

In [ ]:
S.discard("banana")
print(S)
print(len(S))

{'orange', 'cherry', 'grape', 'apple'}
4

**6**dict = {“name1_marks” : [34,56,87,89], “name2_marks” : [78,98,54,34],  “name3_marks” : [87,65,97,90]}   add the marks   97  in  “name1_marks”.
Expected output : {“name1_marks” : [34,56,87,89, 97], “name2_marks” : [78,98,54,34],  “name3_marks” : [87,65,97,90]}**

In [ ]:
dict = {"name1_marks" : [34,56,87,89], "name2_marks" : [78,98,54,34], "name3_marks" : [87,65,97,90]}
dict["name1_marks"]

[34, 56, 87, 89]

In [ ]:
dict1=dict["name1_marks"]

In [ ]:
res=dict1.append(97)
print(dict)

{'name1_marks': [34, 56, 87, 89, 97], 'name2_marks': [78, 98, 54, 34], 'name3_marks': [87, 65, 97, 90]}

In [ ]:
s = [1,2,3,43,6]

In [ ]:
s

{1, 2, 3, 6, 43}

In [ ]:
s={True,2,3,"a",0,1,False,4}

In [ ]:
s.pop()

6

In [ ]:
list=[1,2,3,4,5]
for i in list:
  list.remove(i)
  print(list)

[2, 3, 4, 5]
[2, 4, 5]
[2, 4]

In [ ]:
a={1,2,3,5,6}

a.pop(2)

TypeError: set.pop() takes no arguments (1 given)