# task 13

**1
Using in-built function filter() with a lambda function filter even numbers from a given list**


















**
num = [17, ,32,45,53,61,72,84,97]**
7]

In [148]:
num=[17, 20, 32, 45, 53, 61, 72, 84, 97]
even=lambda x:x%2==0
list(filter(even,num))

[20, 32, 72, 84]

**2**  **Write a Python function to find the maximum of three numbers.**

In [150]:
def max_numbers(x,y,z):
    if x>y and x>z:
        print(x)
    elif x<y and y>z:
         print(y)
    elif x<z and y<z:
          print(z)
max_numbers(8,10,1)

10

In [252]:
lst7=x,y,z=8,10,1
def max_numbers(lst7):
    if x>y and x>z:
        print(x,"max")
    elif x<y and y>z:
         print(y,"max")
    else:
          print(z,"max")
list(map(max_numbers,lst7))

10 max
10 max
10 max

[None, None, None]

**3a Write a Python function to check whether a number falls within a given range.**

In [9]:

def num_check(num,low,high):
    if num>low and num<high:
        print("it is in  range",num)
    else:
        num<low and num>high
        print("it is in exclusive range",num)
num_check(7,6,9)

it is in  range 7

In [254]:
lst8=num,low,high,=7,6,9
def num_check(lst8):
    if num>low and num<high:
        print("it is in  range",num)
    else:
        num<low and num>high
        print("it is in exclusive range",num)
list(map(num_check,lst8))

it is in  range 7
it is in  range 7
it is in  range 7

[None, None, None]

**3b** **Write a Python function that takes a list and returns a new list with distinct elements from the first list.**

In [154]:
list1=[6,7,8,9,10]
list2=[]
def new_list(list2):
   list2.extend(list1)
   print(list2)
new_list(list2)

[6, 7, 8, 9, 10]

In [43]:
list1=[6,7,8,9,10]
def new_list(list1):
    s= list1.copy()
    return s
list(map(new_list,[list1]))

[[6, 7, 8, 9, 10]]

**4 Write a Python function that accepts a string and counts the number of uppe  and lowe case letter**

In [158]:
def count_up_low(string):
    upper=0
    lower=0
    for i in string:
        if i.isupper():
            upper=upper+1
        elif i.islower():
             lower=lower+1
    print("count of upper letters",upper)
    print("count of lower letters",lower)
count_up_low("This is the STring")

count of upper letters 3
count of lower letters 12

In [312]:
string=["A","B","c","d"]
def count_up_low(string):
    upper=0
    lower=0
    for i in string:
        if i.isupper():
            upper=upper+1
        elif i.islower():
             lower=lower+1
    print("count of upper letters",upper)
    print("count of lower letters",lower)
print(list(map(count_up_low,[string])))

count of upper letters 2
count of lower letters 2
[None]

**5** **Write a function to check if the given number if even or not.**

In [232]:
def even_check(even):
    for i in even:
        if i%2==0:
           print(i,True,end=" ,")
        else:
           print(i,False,end=" ,")
            
even_check([1,2,3,4])

1 False ,2 True ,3 False ,4 True ,

In [234]:
s=[12,8,56,89]
def even_check(even):
    for i in s:
        if i%2==0:
           print(i,True,end=" ,")
        else:
           print(i,False,end=" ,")
            
list(map(even_check,[s]))

12 True ,8 True ,56 True ,89 False ,

[None]

**6a** **Write a function square(x) that returns the square of the number x**

In [164]:
def square(x):
    square=x**2
    return square
square(4)

16

In [236]:
a=[1,2,3,4]
def square(x):
    square=x**2
    return square
list(map(square,a))

[1, 4, 9, 16]

**6b** **Write a function to_uppercase(s) that converts all characters in a string s to uppercase**

In [167]:
def to_uppercase(s):
    string= s.upper()
    return string
to_uppercase("hi hello hi hello hi hello")

'HI HELLO HI HELLO HI HELLO'

In [168]:
def to_uppercase(s):
    string= s.upper()
    return string
list(map(to_uppercase,["hi hello"]))

['HI HELLO']

**6c**  **Write a function find_max(a, b) that returns the maximum of two numbers a and b**

In [288]:

def find_max(a,b):
        if a>b:
             print(a,"max")
        else :
             print(b,"max")
find_max(9,10)

10 max

In [300]:
list1=a,b=5,9
def find_max(list1):
        if a>b:
             print(a,"max")
        else :
             print(b,"max")
list(map(find_max,list1))

9 max
9 max

[None, None]